/* Custom styles */
.portfolio-item {
    margin-bottom: 40px;
    position: relative;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.caption {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-item:hover .caption {
    opacity: 1;
}

.navbar {
    background-color: slategray; /* Arduvaz rengi (slategray) arka plan rengi */
    padding: 20px 0; /* Yatay ve dikey iç açıklığı */
}

.navbar-brand {
    font-size: 24px;
    color: #000; /* Daha koyu yazı rengi */
}

.navbar-nav .nav-link {
    color: #000; /* Daha koyu yazı rengi */
    font-size: 18px;
    border-right: 2px solid white; /* Dikey beyaz çizgi */
    padding-right: 20px; /* Sağda iç boşluk */
}

.navbar-nav .nav-link:last-child {
    border-right: none; /* Son öğe için dikey çizgiyi kaldır */
}

.navbar-nav .nav-link:hover {
    color: #0056b3; /* Hover rengi */
}
